.condominio-desc
	position: relative

	article
		margin-top: -331px
		width: 520px

		h1
			font-family: Hero
			font-size: 43px
			text-transform: uppercase
			color: $preto-italico
			font-weight: bold

		p 
			font-family: Open Sans
			color: $preto 
			font-size: 25px
			text-align: justify

	.vl

		.normal

			margin-left: 550px

.atributes

	+flexbox
	margin-top: 30px
	
	
	.at1
		+flexbox
		flex-direction: column
		color: $laranja
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		img 
			width: 250px
			height: 237px
		
		
		h2 
		    font-size: 43px
		    margin-top: 20px
		  
		   
			
	.at2
		+flexbox
		flex-direction: column
		color: $verde
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		img 
			width: 197px
			height: 235px
		


		h2 
		    font-size: 43px
		    margin-top: 20px
		    
		
	.at3
		+flexbox
		flex-direction: column
		color: $vermelho
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		h2 
		    font-size: 43px
		    margin-top: 20px
		

		img 
			width: 270px
			height: 236px
		

.area-botao
	position: relative
	+flexbox
	justify-content: center
	margin-top: 10px

	button
		background: $verde
		width: 300px
		height: 73px
		outline: none
		border: none
		border-radius: 20px
		color: $branco
		font-family: Hero
		font-size: 28px
		text-transform: uppercase
		cursor: pointer

		&:hover
			background: $laranja

#map
	
	width: 100%
	height: 509px
	position: relative
	margin-top: 5px


		   
			
			





