



.condominio-desc
	position: relative

	article
		margin-top: -331px
		width: 520px
		
		+breakpoint($desktop-med)
			width: 100%
			margin-top: 0

		h1
			font-family: Hero
			font-size: 43px
			text-transform: uppercase
			color: $preto-italico
			font-weight: bold

			+breakpoint($tablet-2)
				font-size: 30px

			+breakpoint($smartphone-landscape-3)
				font-size: 25px

		p 
			font-family: Open Sans
			color: $preto 
			font-size: 25px
			text-align: justify

			+breakpoint($desktop-med)
				margin-top: -10px

			+breakpoint($tablet-2)
				font-size: 23px

			+breakpoint($smartphone-landscape-3)
				font-size: 20px

	.vl
		+breakpoint($desktop-med)
			+flexbox
			justify-content: center
			align-items: center

		.normal

			iframe
				width: 560px
				height: 315px

				+breakpoint($desktop-med)
					width: 100%
					

			margin-left: 550px

			+breakpoint($desktop-med)
				margin-left: 0
				width: 100%


.atributes

	+flexbox
	margin-top: 30px
	
	
	.at1
		+flexbox
		flex-direction: column
		color: $laranja
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		+breakpoint($smartphone-landscape-3)
			margin-left: -40px

		img 
			width: 250px
			height: 237px

			+breakpoint($desktop-med)
				width: 216px
				height: 205px

			+breakpoint($smartphone-landscape-3)
				width: 131px
				height: 125px
		
		
		h2 
		    font-size: 43px
		    margin-top: 20px

		    +breakpoint($desktop-med)
		    	font-size: 30px

		    +breakpoint($tablet-2)
		    	font-size: 28px

		    +breakpoint($smartphone-landscape-3)
		    	font-size: 20px
		    	width: 200px
		    	
		  
		   
			
	.at2
		+flexbox
		flex-direction: column
		color: $verde
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		+breakpoint($smartphone-landscape-3)
			margin-left: 25px

		img 
			width: 197px
			height: 235px

			+breakpoint($desktop-med)
				width: 169px
				height: 200px

			+breakpoint($smartphone-landscape-3)
				width: 103px
				height: 123px
               
		h2 
		    font-size: 43px
		    margin-top: 20px

		    +breakpoint($desktop-med)
		    	font-size: 30px

		    +breakpoint($tablet-2)
		    	font-size: 28px

		    +breakpoint($smartphone-landscape-3)
		    	font-size: 20px
		    	
		    
		
	.at3
		+flexbox
		flex-direction: column
		color: $vermelho
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		align-items: center

		+breakpoint($smartphone-landscape-3)
			margin-left: 60px

		h2 
		    font-size: 43px
		    margin-top: 20px

		    +breakpoint($desktop-med)
		    	font-size: 30px

		    +breakpoint($tablet-2)
		    	font-size: 28px

		    +breakpoint($smartphone-landscape-3)
		    	font-size: 20px
		    	
		

		img 
			width: 270px
			height: 236px

			+breakpoint($desktop-med)
				width: 218px
				height: 190px

			+breakpoint($smartphone-landscape-3)
				width: 138px
				height: 120px
		

.area-botao
	position: relative
	+flexbox
	justify-content: center
	margin-top: 10px

	button
		background: $verde
		width: 300px
		height: 73px
		outline: none	
		border: none
		border-radius: 20px
		color: $branco
		font-family: Hero
		font-size: 28px
		text-transform: uppercase
		cursor: pointer

		+breakpoint($smartphone-landscape-3)
			width: 210px
			height: 50px
			border-radius: 10px
			font-size: 20px

		&:hover
			background: $laranja
			outline: none

		&:focus
			outline: none



		   
			
			





