footer
	background: $preto-italico
	width: 100%
	position: relative
	+flexbox
	+clearfix
	padding-top: 5px
	

	.infotercom
		margin-top: -10px



	.realizacao
		+flexbox
		flex-direction: column
		postinon: relative
		justify-content: center
		align-items: center
		

		h2
			font-family: Open Sans
			font-size: 21px
			color: $branco
			text-align: center
			

		img
			width: 221px
			height: 95px
			position: relative



		p
			font-family: Open Sans
			font-size: 14px
			color: $branco
			text-transform: uppercase
			text-align: center
			margin-top: 5px

	.contato
		+flexbox
		position: relative
		margin-left: 289px
		margin-top: -131px

		.telefone
			+flexbox
			position: absolute

			img 
				width: 25px
				height: 25px

			p
				font-family: Open Sans
				font-size: 23px
				color: $branco
				margin-left: 10px
				margin-top: -6px
			
		.cel 
			+flexbox
			margin-left: 205px

			

			img 
				width: 25px
				height: 25px

			p
				font-family: Open Sans
				font-size: 23px
				color: $branco
				margin-left: 10px
				margin-top: -6px

	.incorporacao
		position: relative
		margin-left: 289px
		margin-top: -93px

		p 
			font-family: Open Sans
			color: $branco
			font-size: 14px
			line-height: 5px

	.copyright
		position: relative
		+flexbox
		justify-content: center
		margin-top: 25px

		p 
			font-family: Open Sans
			font-size: 12px
			color: $branco
				
