.principal
	z-index: 101
	margin-top: 38px
	position: absolute
	+clearfix


	h1 
		margin-left: 302px
		color: $branco
		font-size: 63px
		font-family: Hero
		text-transform: uppercase
		margin-top: -218px
		width: 780px
	

	.logo
		background: $branco
		width: 263px
		height: 263px
		border-radius: 20px
		float: left
		
		
		img
			width: 213px
			height: 243px
			margin-top: 12px
			margin-left: 25px

.homepg

	nav

		
		ul
			+flexbox
			z-index: 102
			position: absolute
			justify-content: space-around
			margin-left: 275px
			margin-top: 252px
			
			li
				font-size: 23px
				font-family: Hero
				text-transform: uppercase
				color: $branco
				cursor: pointer
				background: $preto-italico
				border-radius: 8px
				padding: 8px 
				margin-left: 25px
				
				&:hover
					background: $laranja
					




