.bg-image

	+breakpoint($tablet-landscape)
		display: none

	
	img
		width: 100%
		height: auto
		position: relative

.bg-image-resp
	display: none
	
	img 
		width: 100%
		height: auto
		position: relative

	+breakpoint($tablet-landscape)
		display: block




.principal
	z-index: 101
	margin-top: 38px
	position: absolute
	+clearfix

	+breakpoint($tablet-landscape)
		display: none

	h1 
		margin-left: 304px
		color: $branco
		font-size: 63px
		font-family: Hero
		text-transform: uppercase
		margin-top: -212px
		width: 780px

		+breakpoint($desktop-med)
			font-size: 44px
			width: 632px
			margin-top: -176px
			margin-left: 302px
	

	.logo
		background: $branco
		width: 263px
		height: 263px
		border-radius: 20px
		float: left

		+breakpoint($desktop-med)
			width: 262px
			height: 262px
			margin-left: 5px
		
		img
			width: 213px
			height: 243px
			margin-top: 12px
			margin-left: 25px

			+breakpoint($desktop-med)
				margin-top: 17px
				margin-left: 30px
				width: 201px
				height: 230px

.homepg

	nav

		
		ul
			+flexbox
			z-index: 102
			position: absolute
			justify-content: space-around
			margin-left: 287px
			margin-top: -47px

			+breakpoint($desktop-med)
				margin-left: 290px
				margin-top: -41px

			
			li
				font-size: 20px
				width: 180px
				font-family: Hero
				text-align: center
				text-transform: uppercase
				color: $branco
				cursor: pointer
				background: $preto-italico
				border-radius: 8px
				padding: 8px 
				margin-left: 20px
				
				&:hover
					background: $laranja

				+breakpoint($desktop-med)
					font-size: 16px
					margin-left: 10px
					width: 145px

.principal-responsivo
	display: none
	position: absolute
	+clearfix
	z-index: 101
	margin-top: 40px
	margin-left: 71px

	+breakpoint($tablet-landscape)
		+flexbox
		justify-content: center
		align-items: center
		flex-direction: column

	+breakpoint($tablet-2)
		margin-left: -48px

	+breakpoint($tablet)
		margin-left: -21px

	.logo-resp
		background: $branco
		width: 280px
		height: 280px
		border-radius: 20px
		float: none
		margin-left: 190px
		position: relative

		+breakpoint($tablet)
			width: 240px
			height: 240px

		img
			width: 230px
			height: 263px
			margin-left: 25px
			margin-top: 10px

			+breakpoint($tablet)
				width: 195px
				height: 223px
				margin-left: 24px

	


	h1
		margin-left: 0
		color: $branco
		text-transform: uppercase
		font-family: Hero
		font-size: 28px
		width: 390px
		text-align: center
		margin-left: 198px
		position: relative
		margin-top: 15px

		+breakpoint($tablet)
			font-size: 25px
			width: 340px




	.menu-est-resp

		nav
			ul
				margin-left: 0
				margin-top: 0
				float: none
				+flexbox
				flex-direction: column
				justify-content: center
				align-items: center
				
				li
					margin-left: 0
					margin-top: 10px
					font-size: 20px
					width: 210px

					+breakpoint($tablet)
						width: 180px



	


				




