.cb1
	background: $verde
	width: 622px
	height: 52px
	color: $branco	
	font-family: Hero
	text-transform: uppercase
	text-align: center

	+breakpoint($desktop-med)
		width: 100%
		height: 65px

	+breakpoint($smartphone-landscape-3)
		+flexbox
		justify-content: center
		align-items: center
		height: 60px

	h1
		font-size: 42px

		+breakpoint($desktop-med)
			font-size: 55px

		+breakpoint($smartphone-landscape-3)
			font-size: 45px
			top: 5px
			position: relative
			
	   
.cb2
	background: $vermelho
	width: 622px
	height: 52px
	color: $branco	
	font-family: Hero
	text-transform: uppercase
	text-align: center

	+breakpoint($desktop-med)
		width: 100%
		height: 65px

	+breakpoint($smartphone-landscape-3)
		+flexbox
		justify-content: center
		align-items: center
		height: 60px

	h1
		font-size: 42px

		+breakpoint($desktop-med)
			font-size: 55px

		+breakpoint($smartphone-landscape-3)
			font-size: 45px
			top: 5px
			position: relative


.conteudo-geral
	margin-top: 30px

.altura-geral
	margin-top: 30px