.informacoes
	position: relative
	+clearfix

	.leeds
		background: $laranja
		height: 670px
		position: relative
		padding-top: 5px

		+breakpoint($smartphone-landscape-3)
			height: 480px

		h1 
			font-family: Open Sans
			font-weight: bold
			color: $branco
			font-size: 40px
			text-transform: uppercase
			text-align: justify

			+breakpoint($tablet-2)
				font-size: 30px

			+breakpoint($smartphone-landscape-3)
				font-size: 25px

		p 
			font-size: 25px
			text-align: justify
			color: $branco
			font-family: Open Sans

			+breakpoint($tablet-2)
				font-size: 23px

			+breakpoint($smartphone-landscape-3)
				font-size: 20px

	.infovend
		position: relative
		background: $verde
		height: 215px
		padding-top: 8px
		padding-bottom: 8px

		+breakpoint($desktop-med)
			height: 335px

		+breakpoint($tablet-2)
			height: 365px

		+breakpoint($smartphone-landscape-3)
			height: 350px

		h1 
			font-family: Open Sans
			font-size: 25px
			color $preto-italico
			font-weight: bold

			+breakpoint($tablet-2)
				font-size: 23px

			+breakpoint($smartphone-landscape-3)
				font-size: 20px

		p 
			font-family: Open Sans
			font-size: 25px
			color: $branco
			margin-top: -5px

			+breakpoint($tablet-2)
				font-size: 23px

			+breakpoint($smartphone-landscape-3)
				font-size: 20px


		form
			position: relative
			+clearfix
			margin-top: -10px
			+breakpoint($desktop-med)
				+flexbox
				flex-direction: column

		
			label
				display: inline


				.i2c
					margin-left: 17px

					+breakpoint($desktop-med)
						margin-left: 0
						margin-top: 10px

				.i3c
					margin-left: 16px

					+breakpoint($desktop-med)
						margin-left: 0
						margin-top: 10px

				input
					width: 356px
					height: 38px
					border: solid 2px $preto-italico
					border-radius: 10px
					color: $preto-italico
					font-family: Open Sans
					font-size: 20px
					padding-left: 5px
					+placeholder($preto-italico)
					outline: none

					&:hover
						border: solid 2px $laranja

					&:focus
						outline: none
						border: solid 2px $laranja

					+breakpoint($desktop-med)
						width: 100%


			button
				background: $preto-italico
				color: $branco
				font-size: 33px
				font-family: Hero
				text-transform: uppercase
				width: 188px
				float: right
				height: 37px
				padding-bottom: 50px
				margin-top: 20px
				border-radius: 10px
				outline: none
				border: none
				position: relative
				cursor: pointer

				&:hover
					background: $laranja

				&:focus
					outline: none

				+breakpoint($desktop-med)
					width: 100%
					float: none

				+breakpoint($tablet-2)
					font-size: 30px






