#map
	
	width: 100%
	height: 509px
	position: relative
	margin-top: -2px

article
	position: relative
	margin-top: 5px

	p
		font-family: Open-Sans
		font-size: 25px
		color: $preto
		text-align: justify

		+breakpoint($tablet-2)
			font-size: 23px

		+breakpoint($smartphone-landscape-3)
			font-size: 20px

	.p1 

	.p2
		margin-top: -10px
