.conturb
	position: relative

	img
		width: 100%
		height: auto


.detcomb
	+flexbox
	margin-top: 10px

	.dt1
		+flexbox
		flex-direction: column
		justify-content: center
		align-items: center
		color: $vermelho-vinho
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		width: 350px
		margin-left: -3px

		+breakpoint($smartphone-landscape-3)
			margin-left: -12px
			position: relative


		
		img
			width: 208px
			height 261px

			+breakpoint($desktop-med)
				width: 174px
				height: 218px

			+breakpoint($smartphone-landscape-3)
				width: 99px
				height: 125px

		.de
			margin-top: 20px

			h2
				font-size: 40px
				position: relative

				+breakpoint($desktop-med)
					font-size: 33px

				+breakpoint($tablet-2)
					font-size: 28px

				+breakpoint($smartphone-landscape-3)
					font-size: 20px
					width: 150px
			

	.dt2
		+flexbox
		flex-direction: column
		justify-content: center
		align-items: center
		color: $verde-claro
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		width: 380px
		margin-left: 20px

		+breakpoint($smartphone-landscape-3)
			margin-left: 61px
			position: relative



		img
			width: 208px
			height 261px
			margin-top: -70px
			position: relative

			+breakpoint($desktop-med)
				width: 201px
				height: 204px
				margin-top: -90px

			+breakpoint($smartphone-landscape-3)
				width: 118px
				height: 120px
				margin-top: -70px

		.de
			margin-top: 141px
			position: absolute
			width: 400px

			+breakpoint($desktop-med)
				margin-top: 120px

			+breakpoint($tablet-2)
				margin-left: 40px

			+breakpoint($smartphone-landscape-3)
				margin-left: 112px
				margin-top: 70px

			h2				
				font-size: 40px
		        position: relative
				
				+breakpoint($desktop-med)
					font-size: 33px

				+breakpoint($tablet-2)
					font-size: 28px
					width: 320px

				+breakpoint($smartphone-landscape-3)
					font-size: 20px
					width: 170px
					margin-top: 5px


	.dt3
		+flexbox
		flex-direction: column
		justify-content: center
		align-items: center
		color: $laranja-claro
		font-family: Open Sans
		text-transform: uppercase
		text-align: center
		width: 350px
		margin-left: 10px

		+breakpoint($smartphone-landscape-3)
			margin-left: 60px
			position: relative

		img
			width: 208px
			height 261px
			position: relative
			margin-top: -27px

			+breakpoint($desktop-med)
				margin-top: -56px

			+breakpoint($smartphone-landscape-3)
				width: 140px
				height: 111px
				margin-top: -61px

		.de
			margin-top: 117px
			position: absolute

			+breakpoint($desktop-med)
				margin-top: 99px

			+breakpoint($smartphone-landscape-3)
				margin-top: 60px

			h2
				font-size: 40px
		        position: relative

				+breakpoint($desktop-med)
					font-size: 33px

				+breakpoint($tablet-2)
					font-size: 28px

				+breakpoint($smartphone-landscape-3)
					font-size: 20px


			
				



.botoes-urbcom
	+flexbox
	justify-content: center
	align-items: center
	margin-top: 10px

	+breakpoint($tablet-2)
		flex-direction: column
		flex-wrap: no-wrap

	.plabbax
		margin-left: 20px
		background: $vermelho-vinho

		+breakpoint($tablet-2)
			margin-left: 0
			margin-top: 15px



	button
		background: $verde
		width: 263px
		height: 73px
		outline: none	
		border: none
		border-radius: 20px
		color: $branco
		font-family: Hero
		font-size: 23px
		text-transform: uppercase
		cursor: pointer

		+breakpoint($smartphone-landscape-3)
			width: 210px
			height: 50px
			font-size: 18px
			border-radius: 10px

		&:hover
			background: $laranja
			outline: none

		&:focus
			outline: none


  


		 
			  
		   




