.conturb
	position: relative

	img
		width: 100%
		height: auto



			
				



.botoes-urbcom
	+flexbox
	justify-content: center
	align-items: center
	margin-top: 10px

	+breakpoint($tablet-2)
		flex-direction: column
		flex-wrap: no-wrap

	+breakpoint($smartphone-landscape-p)
		margin-top: 380px

	.plabbax
		margin-left: 20px
		background: $vermelho-vinho

		+breakpoint($tablet-2)
			margin-left: 0
			margin-top: 15px



	button
		background: $verde
		width: 263px
		height: 73px
		outline: none	
		border: none
		border-radius: 20px
		color: $branco
		font-family: Hero
		font-size: 23px
		text-transform: uppercase
		cursor: pointer

		+breakpoint($smartphone-landscape-3)
			width: 210px
			height: 50px
			font-size: 18px
			border-radius: 10px

		&:hover
			background: $laranja
			outline: none

		&:focus
			outline: none


  


		 
			  
		   




