.slider
  width: 100%
  height: 570px
  position: relative
  overflow: hidden

  +breakpoint($desktop-med)
   height: 580px

  +breakpoint($tablet-2)
   height: 760px

  +breakpoint($smartphone-landscape-3)
   height: 630px

  +breakpoint($smartphone-landscape-s)
     height: 100%

  .pager
   width: 100%
   height: 125px
   position: absolute

   +breakpoint($smartphone-landscape-s)
     position: relative
     height: 100%
 
   ul
     +flexbox
     flex-direction: row

     li 
       position: relative
       cursor: pointer
       background: $preto
       
       img
         width: 222px
         height: auto
         opacity: 0.7

         &.active
           opacity: 1

         &:hover
           opacity: 1

         +breakpoint($desktop-med)
           width: 232px
           height: auto

         +breakpoint($smartphone-landscape-3)
           width: 170px
           height: auto

         +breakpoint($smartphone-landscape-s)
           width: 190px

         +breakpoint($smartphone-landscape-msgs2)
           width: 170px

         +breakpoint($smartphone-m14)
           width: 115px
  
  .central
   +flexbox
   flex-direction:: row

   +breakpoint($tablet-2)
     flex-direction: column
     flex-wrap: wrap
  
   .display
     overflow: hidden
     width: 103%
     +flexbox
     height: 370px
     position: relative 

     +breakpoint($desktop-med)  
       height: 443px
       width: 250%
     

     img
       width: 100%
       height: auto 

   .botoes
     margin-top: -5px
     +flexbox

     +breakpoint($desktop-med)
       margin-top: -5px

     +breakpoint($smartphone-landscape-3)
       margin-top: 10px

     +breakpoint($smartphone-landscape-s)
       margin-top: -25px

     +breakpoint($smartphone-landscape-msgs2)
       margin-top: 20px

     +breakpoint($smartphone-m14)
       justify-content: center
       align-items: center
       margin-left: -33%
       margin-top: 2px

     i 
       font-size: 40px
       color: $branco

       +breakpoint($smartphone-landscape-3)
         font-size: 30px

     .prev
       background: $preto-italico
       width: 45px
       height: 45px
       +flexbox
       justify-content: center
       align-items: center
       cursor: pointer
       +transition(.5s)

       &:hover
         background: $branco

         i 
           color: $preto-italico

     .next
       background: $preto-italico
       width: 45px
       height: 45px
       +flexbox
       justify-content: center
       align-items: center
       cursor: pointer
       margin-left: 8px
       +transition(.5s)

       &:hover
         background: $branco

         i 
           color: $preto-italico

       +breakpoint($smartphone-m14)
         margin-left: 15px

   .painel
     background: $verde
     width: 750px
     height: 370px
     position: relative
     padding: 5px
     overflow: hidden

     +breakpoint($desktop-med)
       height: 443px

     +breakpoint($tablet-2)
       height: 240px

     +breakpoint($smartphone-landscape-3)
       height: 250px

     +breakpoint($smartphone-landscape-s)
       width: 145%
       height: 200px

     +breakpoint($smartphone-landscape-msgs2)
       height: 250px

     +breakpoint($smartphone-lpa)
       height: 260px

     +breakpoint($smartphone-m14)
       height: 300px

     ul
       width: 105%
       height: 300px
       overflow: hidden

       +breakpoint($desktop-med)
         height: 375px
         width: 100%

       +breakpoint($tablet-2)
         width: 92%
         height: 160px
         position: relative

       +breakpoint($smartphone-landscape-3)
         width: 67%
         height: 170px

       +breakpoint($smartphone-landscape-s)
         height: 143px

       +breakpoint($smartphone-landscape-msgs2)
         height: 160px

       +breakpoint($smartphone-2)
         height: 170px

       +breakpoint($smartphone-lpa)
         height: 180px

       +breakpoint($smartphone-m14)
         height: 220px

       li 

         h2
           font-family: Hero
           font-size: 30px
           color: $branco
           text-transform: uppercase
           text-align: left

           +breakpoint($desktop-med)
             font-size: 25px

           +breakpoint($tablet-2)
             font-size: 30px

           +breakpoint($smartphone-landscape-3)
             font-size: 25px

           +breakpoint($smartphone-landscape-s)
             font-size: 23px

           +breakpoint($smartphone-m14)
             text-align: center

         p
           font-family: Open Sans
           font-size: 28px
           color: $branco
           text-align: left

           +breakpoint($desktop-med)
             font-size: 23px

           +breakpoint($tablet-2)
             text-align: justify
             font-size: 25px

           +breakpoint($smartphone-landscape-3)
             font-size: 23px

           +breakpoint($smartphone-landscape-s)
             font-size: 20px

           +breakpoint($smartphone-m14)
             text-align: center


             








  
       

