/*Campo total do Slider*/
.slider
	position: relative
	+clearfix
	width: 100%
	height: auto
	overflow: hidden
	
	/*Area de exibição em listas*/
	.display
		+flexbox
		width: 100%
		height: auto
		position: relative

		/*Listas de exibição*/
		li 
			
			left: 0
			position: relative
	
			/*Definiçao das imagens exibidas*/
			img
				width: 1110px
				height: auto

				/*====Media Queries====*/
				+breakpoint($desktop-med)
					width: 930px

				+breakpoint($tablet-2)
					width: 690px

				+breakpoint($smartphone-landscape-3)
					width: 510px

				+breakpoint($smartphone-landscape-s)
					width: 545px

				+breakpoint($smartphone-landscape-msgs25)
					width: 520px

				+breakpoint($smartphone-landscape-msa)
					width: 490px

				+breakpoint($smartphone-landscape-10)
					width: 460px

				+breakpoint($smartphone-landscape-ms)
					width: 418px

				+breakpoint($smartphone-2b)
					width: 405px

				+breakpoint($smartphone-l2)
					width: 378px

				+breakpoint($smartphone-m285a)
					width: 360PX

				+breakpoint($smartphone-m145)
					width: 335px

				+breakpoint($smartphone-s2b)
					width: 305px

				+breakpoint($smartphone-s)
					width: 290px

/*Area de descrição das listas do Slider*/
.description
	width: 100%
	background: $verde	
	height: 280px
	position: relative
	padding: 12px
	margin-top: -16px

	/*====Media Queries====*/
	+breakpoint($desktop-med)
		height: 285px

	+breakpoint($tablet-2)
		height: 345px

	+breakpoint($smartphone-landscape-3)
		height: 345px

	+breakpoint($smartphone-landscape-s)
		height: 370px

	+breakpoint($smartphone-landscape-msgs25)
		height: 360px

	+breakpoint($smartphone-landscape-101)
		height: 363px

	+breakpoint($smartphone-landscape-1025)
		height: 450px

	+breakpoint($smartphone-landscape-ms354)
		height: 480px

	+breakpoint($smartphone-l2aart5)
		height: 510px

	+breakpoint($smartphone-78asuyt)
		height: 550px

	+breakpoint($smartphone-mas25)
		height: 580px

	/*Listas descritivas*/
	.disc 
		margin-top: 5px
		position: relative
		width: 100%

		/*Listas com os textos em ordem*/
		.text-order
			position: relative
			z-index: 100
			margin-top: 0
			position: relative
			
			/*====Media Queries====*/
			+breakpoint($desktop-med)
				margin-top: 5px

			+breakpoint($smartphone-landscape-msgs25)
				margin-top: 10px

			+breakpoint($smartphone-landscape-101)
				margin-top: -70px

			+breakpoint($smartphone-landscape-1025)
				margin-top: -160px		
 
         /*Listas com as descriçoes dos slides*/
		 li
			 			
			 /*Titulo de cabaçalho*/
			 h2
				 font-family: Hero
				 font-size: 40px
				 text-transform: uppercase
				 color: $branco

				 /*====Media Queries====*/
				 +breakpoint($tablet-2)
					 text-align: center
					 font-size: 45px

				 +breakpoint($smartphone-landscape-3)
					 font-size: 30px

				 +breakpoint($smartphone-landscape-s)
					 font-size: 33px

				 +breakpoint($smartphone-landscape-msgs25)
				 	 font-size: 30px

				 +breakpoint($smartphone-landscape-101)
				 	 margin-top: 80px

				 +breakpoint($smartphone-landscape-1025)
				 	 font-size: 40px
				 	 margin-top: 180px

				 +breakpoint($smartphone-landscape-1025)
				 	 font-size: 30px

			 /*Paragrafo de descrição*/
			 p
				 font-family: Open Sans
				 font-size: 30px 
				 color: $branco
				 text-transform: justify
				
				 /*====Media Queries====*/
				 +breakpoint($tablet-2)
					 text-align: center
					 font-size: 28px

				 +breakpoint($smartphone-landscape-3)
					 font-size: 25px

				 +breakpoint($smartphone-landscape-s)
					 font-size: 28px

				 +breakpoint($smartphone-landscape-msgs25)
				 	 font-size: 25px

				 +breakpoint($smartphone-landscape-1025)
				 	 font-size: 30px
				 	 text-align: center

				 +breakpoint($smartphone-landscape-1025)
				 	 font-size: 25px

	/*Botoes de ação do Slider*/
	.botoes
		+flexbox
		justify-content: flex-start
		margin-top: 3px
	
		/*====Media Queries====*/
		+breakpoint($desktop-med)
			margin-top: 5px

		+breakpoint($tablet-2)
			justify-content: center
			margin-top: 0

		+breakpoint($smartphone-landscape-3)
			margin-top: 5px

		+breakpoint($smartphone-landscape-s)
			margin-top: 5px

		+breakpoint($smartphone-landscape-msgs25)
			margin-top: 10px

		+breakpoint($smartphone-2b)
			margin-top: 10px

		+breakpoint($smartphone-s2b)
			margin-top: -1px

		/*====Botão de Anterios====*/
		.prev
			background: $preto-italico
			width: 60px
			height: 60px
			+transition(.5s)
			+flexbox 
			justify-content: center
			align-items: center
			cursor: pointer

			/*====Media Queries====*/
			+breakpoint($smartphone-landscape-3)
				width: 10px
				height: 10px
			
			+breakpoint($tablet-2)
				width: 80px
				height: 80px

			+breakpoint($smartphone-s2b)
				width: 80px
				height: 80px

			/*====Icone do Botão====*/
			i 
				color: $branco
				font-size: 50px

				/*====Media Queries====*/
				+breakpoint($smartphone-landscape-3)
					font-size: 20px

				+breakpoint($tablet-2)
					font-size: 70px				

			/*====Efeito de transição====*/
			&:hover

				background: $branco

				i 
					color: $preto-italico

		/*====Botão de Proximo====*/
		.next
			background: $preto-italico
			width: 60px
			height: 60px
			margin-left: 15px
			+transition(.5s)
			+flexbox 
			justify-content: center
			align-items: center
			cursor: pointer

			/*====Media Queries====*/
			+breakpoint($smartphone-landscape-3)
				width: 10px
				height: 10px
		
			+breakpoint($tablet-2)
				width: 80px
				height: 80px

			+breakpoint($smartphone-s2b)
				width: 80px
				height: 80px

			i 
				color: $branco
				font-size: 50px

				/*====Media Queries====*/
				+breakpoint($smartphone-landscape-3)
					font-size: 20px

				+breakpoint($tablet-2)
					font-size: 70px

			/*====Efeito de transição====*/
			&:hover

				background: $branco

				i 
					color: $preto-italico





