.thumbnail
	
	+flexbox
	width: 100%
	overflow: hidden
	background: $preto

	+breakpoint($tablet-2)
		display: none

	li
		width: 100%
		opacity: 0.5
		cursor: pointer
		filter: alpha(opacity=50)
		+transition(.5s)

		&:hover
			opacity: 1
			filter: alpha(opacity=1)

		img
			width: 222px
			height: auto

			+breakpoint($desktop-med)
				width: 232px

.slider
	position: relative
	position: relative
	+clearfix
		
	.display
		+flexbox
		overflow: hidden
		width: 100%
		
		li 
			width: 100%

			img
				width: 1110px
				height: auto

				+breakpoint($desktop-med)
					width: 930px

				+breakpoint($tablet-2)
					width: 690px

.description
	width: 100%
	background: $verde
	overflow: hidden
	height: 290px
	position: relative
	padding: 12px
	margin-top: -16px

	+breakpoint($desktop-med)
		height: 340px

	+breakpoint($tablet-2)
		height: 410px

	.disc
		height: 210px
		overflow: hidden 

		+breakpoint($desktop-med)
			height: 233px

		+breakpoint($tablet-2)
			height: 270px


		
		li
			
			h2
				font-family: Hero
				font-size: 40px
				text-transform: uppercase
				color: $branco

				+breakpoint($tablet-2)
					text-align: center
					font-size: 45px

			p
				font-family: Open Sans
				font-size: 30px 
				color: $branco
				text-transform: justify
				+breakpoint($tablet-2)
					text-align: center
					font-size: 28px

	.botoes

		+flexbox
		justify-content: flex-start
		margin-top: -30px

		+breakpoint($desktop-med)
			margin-top: 10px

		+breakpoint($tablet-2)
			justify-content: center
			margin-top: 0



		.prev
			background: $preto-italico
			width: 60px
			height: 60px
			+transition(.5s)
			+flexbox 
			justify-content: center
			align-items: center
			cursor: pointer

			+breakpoint($tablet-2)
				width: 90px
				height: 90px

			i 
				color: $branco
				font-size: 50px

				+breakpoint($tablet-2)
					font-size: 70px

			&:hover

				background: $branco

				i 
					color: $preto-italico

		.next
			background: $preto-italico
			width: 60px
			height: 60px
			margin-left: 15px
			+transition(.5s)
			+flexbox 
			justify-content: center
			align-items: center
			cursor: pointer

			+breakpoint($tablet-2)
				width: 90px
				height: 90px

			i 
				color: $branco
				font-size: 50px

				+breakpoint($tablet-2)
					font-size: 70px

			&:hover

				background: $branco

				i 
					color: $preto-italico




